<main {{will-destroy this.destroyElement}}>
  <EmberThree
    @id={{this.sceneId}}
    @rendererParams={{this.rendererParams}}
    as |s|
  >
    <EmberThree::Lights::DirectionalLight
      @parent={{s.scene}}
      @position={{this.lightPosition}}
    />
    <EmberThree::Cameras::PerspectiveCamera
      @position={{this.cameraPosition}}
    />
    <EmberThree::Core::Object3d
      @parent={{s.scene}}
      @rotation={{this.containerRotation}}
      as |lineContainer|
    >
      {{#each this.lineSegmentsData as |segmentData|}}
        <EmberThree::Objects::LineSegments
          @parent={{lineContainer}}
          @geometry={{segmentData.geometry}}
          @scale={{segmentData.scale}}
          @material={{this.lineMaterial}}
        />
      {{/each}}
    </EmberThree::Core::Object3d>
  </EmberThree>
</main>
