<Info @fps={{this.fps}} />
<Controls @onChange={{this.updateCount}} />

<main>
  <Scene {{did-insert this.animate}} as |s|>
    <s.PerspectiveCamera
      @fov={{45}}
      @aspectRatio={{this.aspectRatio}}
      @near={{0.1}}
      @far={{1000}}
      @register={{s.addCamera}}
    />

    <s.DirectionalLight @register={{s.add}} />

    {{#each this.boxes as |box|}}
      <s.Mesh
        @geometry={{this.cube}}
        @material={{this.material}}
        @rotation={{box}}
        @scene={{s.scene}}
      />
    {{/each}}
  </Scene>
</main>
