<Info @fps={{this.fps}} />
<Controls @onUpdate={{this.onCountUpdate}} />

<main>
  <EmberThreejs @onInit={{this.animate}} as |s|>
    <EmberThreejs::Lights::DirectionalLight
      @parent={{s.scene}}
      @x={{-5}}
      @y={{0}}
      @z={{-10}}
    />
    <EmberThreejs::Cameras::PerspectiveCamera
      @z={{6.2}}
      @aspectRatio={{this.aspectRatio}}
      @emberSceneComponent={{s.emberSceneComponent}}
    />

    {{#each this.appState.objectProperties as |properties|}}
      <EmberThreejs::Objects::Mesh
        @rotation={{properties.r}}
        @position={{properties.p}}
        @scale={{properties.s}}
        @parent={{s.scene}}
        @material={{this.material}}
        @geometry={{this.geometry}}
      />
    {{/each}}

  </EmberThreejs>
</main>
