<Info @fps={{this.fps}} />
<Controls @onUpdate={{this.onCountUpdate}} />

<main>
  <EmberThreejs @onInit={{this.animate}} as |s|>
    <EmberThreejs::Lights::DirectionalLight
      @parent={{s.scene}}
      @x={{-5}}
      @y={{0}}
      @z={{-10}}
    />
    <EmberThreejs::Cameras::PerspectiveCamera
      @z={{3.2}}
      @aspectRatio={{this.aspectRatio}}
      @emberSceneComponent={{s.emberSceneComponent}}
    />

    {{#each this.appState.rotations as |rotation|}}
      <EmberThreejs::Objects::Mesh
        @rotation={{rotation.r}}
        @parent={{s.scene}}
        @material={{this.material}}
        @geometry={{this.geometry}}
      />
    {{/each}}

  </EmberThreejs>
</main>
