<Controls @onUpdate={{this.onCountUpdate}} />

<main>
  <EThreejs @id={{this.sceneId}} as |s|>
    <EThreejs::Lights::DirectionalLight
      @parent={{s.scene}}
      @position={{this.lightPosition}}
    />
    <EThreejs::Cameras::PerspectiveCamera
      @position={{this.cameraPosition}}
      @aspectRatio={{this.aspectRatio}}
    />
    {{#each this.appState.objectProperties as |properties|}}
      <EThreejs::Objects::Mesh
        @rotation={{properties.r}}
        @position={{properties.p}}
        @scale={{properties.s}}
        @parent={{s.scene}}
        @material={{this.material}}
        @geometry={{this.geometry}}
      />
    {{/each}}
  </EThreejs>
</main>
